<header class="mb-4">
  <nav class="navbar navbar-expand-md navbar-dark bg-main2">
    <div class="container-fluid ps-5 pe-5">
      <%= link_to "Photocon", root_url, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto ms-md-3">
          <li class="nav-item ms-md-2">
            <a href="<%= contests_path %>" class="text-decoration-none"><span class="nav-link text-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy-fill mb-1" viewBox="0 0 16 16">
                <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
              </svg>
              コンテスト</span></a>
          </li>
              
          <li class="nav-item ms-md-2">
            <a href="<%= photos_path %>" class="text-decoration-none"><span class="nav-link text-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera-fill mb-1" viewBox="0 0 16 16">
                <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1zm9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0z"/>
              </svg>
              投稿作品</span></a>
          </li>
          
          
          <li class="nav-item d-block d-md-none">
            <a href="<%= new_contest_path %>" class="text-decoration-none"><span class="nav-link text-white">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill mb-1" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
              </svg>
              コンテストを作成</span></a>
          </li>
        </ul>
        
        <div class="d-block d-md-none border-bottom mt-3 mb-4"></div>
        
        <% if logged_in? %>
        
          <ul class="navbar-nav">
            <li class="nav-item">
              <div class="dropdown">
                <a class="text-decoration-none" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="rounded-circle img-fluid" src="<%= gravatar_url(current_user, { size: 40 }) %>" alt="">
                  <img class="img-fluid" src="<%= image_path("caret-down-fill.svg") %>" alt="">
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                  <li><%= link_to current_user.name, current_user, class: "dropdown-item fw-bold mb-2"%></li>
                  <li><%= link_to "投稿作品", photos_user_path(current_user), class: "dropdown-item" %></li>
                  <li><%= link_to "コンテスト", contests_user_path(current_user), class: "dropdown-item" %></li>
                  <li><%= link_to "いいね", likes_user_path(current_user), class: "dropdown-item" %></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><%= link_to 'ログアウト', logout_path, method: :delete, class: 'dropdown-item' %></li>
                </ul>
                
              </div>
            </li>
          </ul>
          
        <% else %>
        
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to '新規登録', signup_path, class: 'nav-link text-white' %></li>
            <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link text-white' %></li>
          </ul>
          
        <% end %>
        
      </div>
    </div>
  </nav>
</header>