<!DOCTYPE html>
<html>
  <head>
    <title>Photocon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <%= yield :head %>
    
  </head>

  <body class="bg-gray">
  
    <%= render "layouts/navbar.html.erb" %>
    
    <div class="container mb-5">
      <div class="row">
        <div class="col-md-9 bg-white pb-3 pt-2">
          <%= render 'layouts/flash_messages' %>
          <%= yield %>
        </div>
        
        <div class="col-md-3">
          <%= render "layouts/sidebar.html.erb" %>
        </div>
      </div>
    </div>
    
    <%= render "layouts/footer.html.erb" %>

  </body>
</html>
